@charset "UTF-8";

/* Geral */
body {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    padding: 0;
    
  }

  body, html {
    background-image: linear-gradient(#FAF9F4, #484848);
  }

  #foto{
   display: flex;
   justify-content:space-between;
   width: 100%;
   position: fixed;
   background-color: #ffffff;
   top:0;
   z-index: 1;
  
  }

  img {
    width: 100px;
    height: auto;
  }

  /* Botões */
.button1,
.button2,
.button3 {
  height: 30px;
  width: 150px;
  border-radius: 4px;
  background-color: #000000f9;
  border: none;
  color: #ffffff;
  margin: 30px;
  cursor: pointer;
}

.button1:hover,
.button2:hover,
.button3:hover {
  background-color: #444444;
}

/*Reset basico*/

body, html {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
    background-color: #f3f4f6;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

/*container principal*/

.login-container{
    width: 100%;
    max-width: 400px;
    margin: 20px;

}

/*cartao de login*/
.login-card{
    background-color: #f3f4f6;
    padding: 40px;
    border-radius: 50px;
    box-shadow: 0 4px 10px rgba(0,0,0,0.1);
    text-align: center;}


/*Titulo */
.login-card h2{
    margin-bottom: 20px;
    font-size: 24px;
    color: #333333;
    text-decoration: underline;
    font-family: Georgia, 'Times New Roman', Times, serif;
    
}

/*Grupos de entrada */
.input-group{
    margin-bottom: 15px;
    text-align: left;
   
}

.input-group label{
    display: block;
    font-size: 14px;
    color: #555555;
    margin-bottom: 5px;
    
}

.input-group input{
    width: 100%;
    padding: 10px;
    border: 1px solid #cccccc;
    border-radius: 5px;
    font-size: 14px;
    color: #333333;
    border-radius: 5px;
    font-size: 14px;
    color: #333333;
    outline: none;
    transition: border-color 0.3s ease;
}

.input-group input:focus {
    border-color: #007bff;
}

/*botao de login*/
.botton{
    height: 30px;
    width: 150px;
    border-radius: 4px;
    background-color: #000000f9;
    border: none;
    color: #ffffff;
    margin: 10px;
    cursor: pointer;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

.signup-text {
    margin-top: 15px;
    font-size: 14px;
    color: #555555;
}

.signup-text a {
    color: #007bff;
    text-decoration: none;
    font-weight: bold;
}

.signup-text a:hover{
    text-decoration: underline;
}

p{
    font-family: Georgia, 'Times New Roman', Times, serif;
}
.txt{
    text-decoration: none;
    color: #007bff;
}

label{
    font-family: Georgia, 'Times New Roman', Times, serif;
}

input{
    font-family: Georgia, 'Times New Roman', Times, serif;
}
